.steps {
  padding: 25px;
}
.rulePlaceholder {
  padding: 20px;
  border: 2px dashed #666;
  color: #666;

  &:global(.drop-target) {
    background:yellow;
  }
}
.feedback {
  display: block;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 12px;
  background: #148414;

  &.error {
    background:#9a4646;
  }
}