.stepDependency {
  width: 28px;
  height: 30px;
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 5px;
  font-size: 20px;
  border: 1px solid #eee;
  border-radius: 20px;
}

.stepDependency:focus {
  outline: 0;
}
