:global body {
  margin:0;
  font-family: 'Helvetica Neue', 'Segoe UI', Arial, Helvetica, sans-serif
}
.title {
  display: inline-block;
  margin: 0;
  font-size: 27px;
}
.header {
  display: block;
  background: #ebebeb;
  padding: 20px;
}