.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0000008c;
  z-index: 9;
}
.panelBox {
  position: absolute;
  top: 30%;
  left: 20%;
  background: white;
  width: 1000px;
  height: 100px;
  padding: 40px 25px 50px;
  z-index: 10;
}
.panelTitle {
  font-size: 23px;
}
