.rulePlaceholder {
    border: 1px dashed #666;
    color: #666;
    width: 40px;
    height: 16px;

    &:global(.wide) {
      padding: 20px;
      width: auto;
      flex: 1;
    }
  
    &:global(.drop-target) {
      background:yellow;
    }
  }