.controlList {
  padding: 30px;
  display: flex;
  background: #ebebeb;
}
.controlBlock {
  margin-right: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #d8d8d8;
  padding: 5px;
}
.controlBlock:hover {
  opacity: 0.6;
}
.label {
  font-size: 15px;
  color: #333;
  font-weight: bold;
  margin-right: 10px;
}
.template {
  display: flex;
}
.exprPlaceholder {
  display: block;
  width: 15px;
  height: 15px;
  background: #8a8a8a;
  margin-right: 4px;
}
.symbolPlaceholder {
  display: flex;
  height: 15px;
  background: #ffffff;
  margin-right: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
