:global body {
  margin:0;
  font-family: Monaco, Consolas, monospace;
  line-height: 1;
}
.title {
  display: inline-block;
  margin: 0;
  font-size: 27px;
}
.header {
  display: block;
  background: #ebebeb;
  padding: 20px;
}
.panels {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.leftRightPanel {
  display: flex;
  flex: 1;
}
.leftPanel {
  width: 50%;
  overflow-y: scroll;
}
.rightPanel {
  width: 50%;
  border-left: 1px solid #ccc;
  overflow-y: scroll;
}
.panelBox {
  box-sizing: border-box;
  padding: 40px 25px 50px;
  border-bottom: 1px solid #ccc;
}
.panelTitle {
  font-size: 23px;
}
.iprove {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.lemmasBox {
  border: 2px solid black;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}

.lemmasCollapseExpand {
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  padding: 0 5px;
  position: absolute;
  margin: -25px 0 0;
  right: -12px;
  height: 23px;
  cursor: pointer;
}

.scopeSummary {
  font-size: 14px;
  padding-left: 7px;
}