.step {
  background: #f5f5f5;
  border: 1px solid #eee;
  display: flex;
  padding: 0 10px;
  height: 45px;
  &.correct {
    background: #b0e8b0;
  }
  &.error {
    background: #f5d9d9;
  }
}
.lineNumber {
  color: #999;
  margin: 15px 2px;
}
.textboxContainer {
  display:block;
  flex: 2;
}
.textbox {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 0 0 0 15px;
  height: 100%;
  width: 100%;
  font-family: Monaco, Consolas, monospace;
}
.mathjax {
  margin: 0px 0 0px 15px;
  display: flex;
  align-items: center;
  flex: 2;
}
.dependencies {
  border-left: 1px solid #CCC;
  display: flex;
}
.using {
  height: 100%;
  align-items: center;
  display: flex;
  color: #aaa;
  font-size: 13px;
  margin: 0 0 0 15px;
}
.dependencyTextbox {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 0 0 0 20px;
  height: 100%;
  color: #333;
  font-family: Monaco, Consolas, monospace;
}
:global .mjx-chtml.MJXc-display {
  text-align: left !important;
  margin: 0;
}
:global .mjx-chtml * {
  outline: none !important;
}