.steps {
  padding-top: 20px;
}
.case_step {
  width: 100%;
}
.addScopeButton {
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  padding: 0 5px;
  height: 23px;
  font-style: normal;
}
.newCase {
  margin: 10px 0 0;
  cursor: pointer;
  &:hover {
    opacity:0.6;
  }
}